:root{
    --white-Color: #fff;
    --black-Color: #000;
    --text-Color: #333;
    --inv:var(#000);
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 16px;
    font-family: 'Sofia Pro', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full_width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}


